<template name="landing">

<div class="main">

    <header>

        <div class="wrap">
            <!--<img src="upload/iphone.png" height="532" width="252" alt="" class="header-img">-->
            <div class="login-panel floatRight">
                {{> signin}}
            </div>
            <div class="header-wrapper">
                <h1><span>Introducing </span>

                </h1>

            </div>
            <!-- /.header-wrapper -->
        </div>
        <!-- /.wrap -->
    </header>

    <!-- /.spanning-columns -->
</div>
</template>
